.idea/
__pycache__/

# setuptools_scm generated
pylops_mpi/version.py

# Environment
venv/

# Build
build/
pylops_mpi.egg-info/
.eggs/
dist/

# Documentation
docs/source/gallery
docs/source/tutorials
docs/source/api/generated
