.idea/
__pycache__/
build/

# setuptools_scm generated
pylops_mpi/version.py

# Environment
venv/

# Build
pylops_mpi.egg-info/
.eggs/

# Documentation
docs/source/gallery
docs/source/tutorials
docs/source/api/generated
